name: Terraform Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual trigger

concurrency:
  group: terraform
  cancel-in-progress: true

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-west-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
    # Checkout the repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # Install Terraform
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.7.5  # or latest stable

    # Terraform init
    - name: Terraform Init
      run: terraform init

    - name: Terraform Import Existing IAM Instance Profile
      run: |
          terraform import aws_iam_instance_profile.ssm_profile terraform-ec2-ssm-profile-v2

    # Terraform plan
    - name: Terraform Plan
      run: terraform plan -out=tfplan

    # Terraform apply
    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan
